@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


body {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.-mouse-parallax__background {
    position: absolute;
    z-index: -2;
    background: url("img/back_kent.PNG") rgb(23,23,23);
    background-size: cover;
    width: 103%;
    height: 104%;
    top: -10px;
    left: -10px;
}

.-mouse-parallax__blur {
    top: -10px;
    left: -10px;
    position: absolute;
    z-index: -1;
    /*background: rgba(0, 0, 0, 0.1); !* Немного затемненный фон для эффекта *!*/
    width: 103%;
    height: 104%;
    backdrop-filter: blur(0px); /* Начальное значение размытия */
    /*transition: backdrop-filter 0.1s ease-out;*/
    will-change: backdrop-filter;
}

.container-block {
    /*top: 0;*/
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 35vw 30vw 35vw;
}

.mouse-parallax {
    position: relative;
    display: flex;
}

.form-block {
    color: white;
    font-size: 40px;
    font-family: "Pixelify Sans", serif;
    margin-top: 60%;
    padding: 0 20px;

}

.form-auth-block {
    width: 100%;
    height: 97.8%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.input-block {
    margin-bottom: 1rem;
}

.input-block > label, .input-block > input {
    width: 95%;
}

input {
    outline: none;
    border: 2px solid rgba(255, 106, 0, 0.7);
    border-radius: 10px;
    background-color: rgb(23,23,23);
    padding: 0.2rem 0.5rem;
    font-size: 20px;
    color: white;
    font-weight: 600;
    font-family: "Pixelify Sans", serif;
    transition: box-shadow 0.5s;
}

input:focus {
    box-shadow: 0 0 20px 10px rgba(255, 106, 0, 0.81);
}

.btn-block {
    text-align: center;
}

.btn_in {
    background-color: rgb(23,23,23);
    color: aliceblue;
    font-family: "Pixelify Sans", serif;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 50%;
}

.btn_in:hover {
    background-color: rgba(255, 106, 0, 0.7);
    transform: translateY(-2px);
}

.btn_in:active {
    transform: translateY(0);
}



